<ion-header>
    <ion-toolbar>
        <ion-title>Ver Pelicula</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../../assets/peliculas/carrete.png" />
        <ion-card-header>
            <ion-card-subtitle>Drama</ion-card-subtitle>
            <ion-card-title>{{nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{resena}}
        </ion-card-content>

        <iframe width="220" height="180" src="https://www.youtube.com/embed/68qRdG-aPtU" title="Pelicula" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card>

</ion-content>