<ion-header>
    <ion-toolbar color="colorpeliculas">
        <ion-title>peliculas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item *ngFor="let pelicula of peliculas">
            <ion-avatar slot="start" [routerLink]="['/salas',pelicula.id]">
                <img src="../../assets/peliculas/carrete.png" />
            </ion-avatar>
            <ion-label>
                <a>
                    <h2>{{pelicula.nombre}}</h2>
                </a>
            </ion-label>
        </ion-item>




    </ion-list>


    <div id="container">

        <button ion-button (click)="goToHome()" class="btn">Regresar al Home</button>
    </div>
</ion-content>