<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Ingreso de Usuario</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form>

        <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" (click)="login()" expand="block">Ingresar</ion-button>


            </ion-col>
            <ion-col>

                <ion-button expand="full" fill="outline" tappable (click)="showFingeerprintAuthentication()">Ingresar Huella
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>