ion-toolbar {
    background-color: var(--ion-color-colorpeliculas);
}

.btn {
    background-color: var(--ion-color-colorpeliculas-shade);
    color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
}

#container {
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%)
}

.texpelis {
    background-color: aquamarine;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}