<ion-header>
    <ion-toolbar color="colorpeliculas">
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
                <div class="texpelis" [routerLink]="['/peliculas']">
                    Accion
                </div>
            </ion-col>
            <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
                <div class="texpelis" [routerLink]="['/peliculas']">
                    Comedia
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
                <div class="texpelis" [routerLink]="['/peliculas']">
                    Terror
                </div>
            </ion-col>
            <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
                <div class="texpelis" [routerLink]="['/peliculas']">
                    Drama
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div id="container">
        <button ion-button [routerLink]="['/peliculas']" class="btn">Peliculas por Generos </button>
    </div>

</ion-content>